<!DOCTYPE html>
<html xmlns:th='http://www.thymleaf.org'>
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}">AQUI TITULO</title>

</head>
<body>
	<!-- empieza menu -->
	
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Spring Boot</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/listar}">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
</nav>

	<!-- termnina menu -->
	
	<div class="container">

	
		<h1 class="text-primary" th:text="${titulo}"></h1>
	<p>	<a th:href="@{/form}" class="btn btn-success btn-xs" > Crear Cliente </a>  </p><!-- link boton --> 
		
		<table class="table table-striped">
			
		<thead class="thead-dark">
		
				<tr>
					<th>id</th>
					<th>nombre</th>
					<th>apellido</th>
					<th>correo</th>
					<th>fecha</th>
					<th>editar</th>
				</tr>
		</thead>

				<tbody>
					<tr th:each="cliente: ${clientes}">
						<!--  por cada cliente del elemento de la lista clientes del objeto CLIENTE-->
						<td th:text="${cliente.id}"></td>
						<td th:text="${cliente.nombre}"></td>
						<td th:text="${cliente.apellido}"></td>
						<td th:text="${cliente.email}"></td>
						<td th:text="${cliente.createAt}"></td>
						
						<td><a th:href="@{/formEditar/} + ${cliente.id}" class="btn btn-primary btn-xs"> Editar	</a></td>
					</tr>

				</tbody>

			</table>
	</div>

</body>

<!-- CSS only -->
<!--  PARA BOOTSTRAP -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>
</html>